* {
    color: #8A8A8A;
}

li {
    list-style: none;
}

.property-name {
    font-weight: bold;
    color: #980A57;
}

.unknown-value {
    font-style: italic;
    color: #D5D5D5;
}

.estimation > button {
    border: none;
    outline: none;
    background-color: #980A57;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 6px;
}

.estimation > button:hover {
    background-color: #FF963A;
}

.estimation-key {
    font-weight: bold;
    color: lightcoral;
}

div.delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete button {
    background: none;
    padding: 0px;
}

.delete h3 {
    color: red;
}

.delete img {
    background: none;
    width: 1.5rem;
    height: 1.5rem;
}