* {
    color: #8A8A8A;
}

li {
    list-style: none;
}

.property-name {
    font-weight: bold;
    color: #980A57;
}

.final-bid {
    margin-left: 4px;
}

.unknown-value {
    font-style: italic;
    color: #D5D5D5;
}

.estimation > button {
    border: none;
    outline: none;
    background-color: #980A57;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 6px;
}

.estimation > button:hover {
    background-color: #FF963A;
}

.estimation-key {
    font-weight: bold;
    color: lightcoral;
}

div.delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete button {
    background: none;
    padding: 0px;
}

.delete h3 {
    color: red;
}

.delete img {
    background: none;
    width: 1.5rem;
    height: 1.5rem;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(00, 00, 00, 0.5);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}