button {
    border: none;
    padding: 2rem;
}

button.already-chosen {
    background-color: #93C6FD;
}

button:hover {
    outline: none;
}

*:focus {
    outline: 0 !important;
}

div.rating p {
    margin-top: 1rem;
}

#rate {
    padding: 1rem;
    background-color: #980A57;
    color: white;
    margin-left: 5.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#rate:hover {
    background-color: #FF963A;
    color: white;
    cursor: pointer;
}

#rate:disabled {
    background-color: #E3D7DC;
}

#rate:disabled:hover {
    cursor: default;
}
