form>label {
    padding-right: 5px;
}

.rooms-filters>input {
    width: 45px;
    margin-right: 10px;
}

div.delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete button {
    background: none;
    padding: 0px;
}

.delete h3 {
    color: red;
}

.delete img {
    background: none;
    width: 1.5rem;
    height: 1.5rem;
}
