table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eee;
}

tr.listing:hover {
    color: white;
    background-color: #85B3FF;
}

Link {
    cursor: pointer;
    text-decoration: none;
    color:aqua;
}

th {
    background: #980A57;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

th > button.order-by {
    border: none;
    outline: none;
    padding: 0px;
    background-color: #980A57;
    color: white;
    font-weight: bold;
}

th > button.order-by:hover {
    color: #85B3FF;
}
