table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eee;
}

tr.listing:hover {
    color: white;
    background-color: palevioletred;
}

Link {
    cursor: pointer;
    text-decoration: none;
    color:aqua;
}

th {
    background: #726268;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
